---
layout: post
title: "Local Training for PLDA in Speaker Verification"
date: 2016-09-27 13:37:13
categories: arXiv_CL
tags: arXiv_CL
author: Chenghui Zhao, Lantian Li, Dong Wang, April Pu
mathjax: true
---

* content
{:toc}

##### Abstract
PLDA is a popular normalization approach for the i-vector model, and it has delivered state-of-the-art performance in speaker verification. However, PLDA training requires a large amount of labeled development data, which is highly expensive in most cases. A possible approach to mitigate the problem is various unsupervised adaptation methods, which use unlabeled data to adapt the PLDA scattering matrices to the target domain. In this paper, we present a new `local training' approach that utilizes inaccurate but much cheaper local labels to train the PLDA model. These local labels discriminate speakers within a single conversion only, and so are much easier to obtain compared to the normal `global labels'. Our experiments show that the proposed approach can deliver significant performance improvement, particularly with limited globally-labeled data.

##### Abstract (translated by Google)
PLDA是用于i矢量模型的流行的标准化方法，并且已经在说话者验证中提供了最新的性能。但是，PLDA培训需要大量标签化的开发数据，这在大多数情况下是非常昂贵的。减轻这个问题的一个可能的方法是各种无监督的自适应方法，它们使用未标记的数据来使PLDA散射矩阵适应目标域。在本文中，我们提出了一种新的“本地培训”方法，利用不准确但便宜得多的本地标签来训练PLDA模型。这些本地标签只能在一次转换中区分说话者，与普通的“全球标签”相比，获得这些标签要容易得多。我们的实验表明，所提出的方法可以显着提高性能，特别是在全局标记数据有限的情况下。

##### URL
[https://arxiv.org/abs/1609.08433](https://arxiv.org/abs/1609.08433)

##### PDF
[https://arxiv.org/pdf/1609.08433](https://arxiv.org/pdf/1609.08433)

