---
layout: post
title: "Triplet Similarity Embedding for Face Verification"
date: 2016-03-13 18:06:34
categories: arXiv_CV
tags: arXiv_CV Face Embedding
author: Swami Sankaranarayanan, Azadeh Alavi, Rama Chellappa
mathjax: true
---

* content
{:toc}

##### Abstract
In this work, we present an unconstrained face verification algorithm and evaluate it on the recently released IJB-A dataset that aims to push the boundaries of face verification methods. The proposed algorithm couples a deep CNN-based approach with a low-dimensional discriminative embedding learnt using triplet similarity constraints in a large margin fashion. Aside from yielding performance improvement, this embedding provides significant advantages in terms of memory and post-processing operations like hashing and visualization. Experiments on the IJB-A dataset show that the proposed algorithm outperforms state of the art methods in verification and identification metrics, while requiring less training time.

##### Abstract (translated by Google)
在这项工作中，我们提出了一个无约束的人脸验证算法，并在最近发布的IJB-A数据集上进行评估，旨在推动人脸验证方法的边界。所提出的算法将深度的基于CNN的方法与使用三重相似性约束学习的低维判别嵌入相结合。除了提高性能以外，这种嵌入方式在内存和后处理操作（如散列和可视化）方面提供了显着的优势。在IJB-A数据集上的实验表明，所提出的算法在验证和识别度量上优于现有方法，同时需要较少的训练时间。

##### URL
[https://arxiv.org/abs/1602.03418](https://arxiv.org/abs/1602.03418)

##### PDF
[https://arxiv.org/pdf/1602.03418](https://arxiv.org/pdf/1602.03418)

