---
layout: post
title: "User Dependent Features in Online Signature Verification"
date: 2016-11-30 11:51:50
categories: arXiv_CV
tags: arXiv_CV
author: D. S. Guru, K. S. Manjunatha, S. Manjunath
mathjax: true
---

* content
{:toc}

##### Abstract
In this paper, we propose a novel approach for verification of on-line signatures based on user dependent feature selection and symbolic representation. Unlike other signature verification methods, which work with same features for all users, the proposed approach introduces the concept of user dependent features. It exploits the typicality of each and every user to select different features for different users. Initially all possible features are extracted for all users and a method of feature selection is employed for selecting user dependent features. The selected features are clustered using Fuzzy C means algorithm. In order to preserve the intra-class variation within each user, we recommend to represent each cluster in the form of an interval valued symbolic feature vector. A method of signature verification based on the proposed cluster based symbolic representation is also presented. Extensive experimentations are conducted on MCYT-100 User (DB1) and MCYT-330 User (DB2) online signature data sets to demonstrate the effectiveness of the proposed novel approach.

##### Abstract (translated by Google)
在本文中，我们提出了一种基于用户相关特征选择和符号表示的在线签名验证新方法。与其他签名验证方法不同，它为所有用户使用相同的特征，所提出的方法引入了用户相关特征的概念。它利用每个用户的典型性为不同的用户选择不同的功能。最初为所有用户提取所有可能的特征，并且采用特征选择方法来选择依赖于用户的特征。所选特征使用模糊C均值算法进行聚类。为了保持每个用户内部的类内变化，我们建议以区间符号特征向量的形式来表示每个聚类。提出了一种基于提出的基于簇的符号表示的签名验证方法。在MCYT-100用户（DB1）和MCYT-330用户（DB2）在线签名数据集上进行了大量的实验，以证明所提出的新方法的有效性。

##### URL
[https://arxiv.org/abs/1611.10104](https://arxiv.org/abs/1611.10104)

##### PDF
[https://arxiv.org/pdf/1611.10104](https://arxiv.org/pdf/1611.10104)

