---
layout: post
title: "A Fusion Method Based on Decision Reliability Ratio for Finger Vein Verification"
date: 2016-12-17 07:03:38
categories: arXiv_CV
tags: arXiv_CV
author: Liao Ni, Yi Zhang, He Zheng, Shilei Liu, Houjun Huang, Wenxin Li
mathjax: true
---

* content
{:toc}

##### Abstract
Finger vein verification has developed a lot since its first proposal, but there is still not a perfect algorithm. It is proved that algorithms with the same overall accuracy may have different misclassified patterns. We could make use of this complementation to fuse individual algorithms together for more precise result. According to our observation, algorithm has different confidence on its decisions but it is seldom considered in fusion methods. Our work is first to define decision reliability ratio to quantify this confidence, and then propose the Maximum Decision Reliability Ratio (MDRR) fusion method incorporating Weighted Voting. Experiment conducted on a data set of 1000 fingers and 5 images per finger proves the effectiveness of the method. The classifier obtained by MDRR method gets an accuracy of 99.42% while the maximum accuracy of the original individual classifiers is 97.77%. The experiment results also show the MDRR outperforms the traditional fusion methods as Voting, Weighted Voting, Sum and Weighted Sum.

##### Abstract (translated by Google)
自从第一次提出手指静脉验证以来，手指静脉验证已经发展了很多，但目前还没有一个完美的算法。证明了具有相同整体精度的算法可能存在不同的错误分类模式。我们可以利用这种互补将各个算法融合在一起，以获得更精确的结果。根据我们的观察，算法对其决策有不同的置信度，但在融合方法中很少考虑。我们的工作是首先定义决策可靠性比率来量化这个置信度，然后提出一个包含加权投票的最大决策可靠性比率（MDRR）融合方法。对1000根手指和每根手指5幅图像进行的实验证明了该方法的有效性。通过MDRR方法得到的分类器的准确率达到了99.42％，而最初的单个分类器的最大准确率为97.77％。实验结果也显示，MDRR优于传统的融合方法，如投票，加权投票，总和和加权总和。

##### URL
[https://arxiv.org/abs/1612.05712](https://arxiv.org/abs/1612.05712)

##### PDF
[https://arxiv.org/pdf/1612.05712](https://arxiv.org/pdf/1612.05712)

