---
layout: post
title: "Context Based Visual Content Verification"
date: 2017-09-01 02:52:46
categories: arXiv_CV
tags: arXiv_CV Relation
author: Martin Lukac, Aigerim Bazarbayeva, Michitaka Kameyama
mathjax: true
---

* content
{:toc}

##### Abstract
In this paper the intermediary visual content verification method based on multi-level co-occurrences is studied. The co-occurrence statistics are in general used to determine relational properties between objects based on information collected from data. As such these measures are heavily subject to relative number of occurrences and give only limited amount of accuracy when predicting objects in real world. In order to improve the accuracy of this method in the verification task, we include the context information such as location, type of environment etc. In order to train our model we provide new annotated dataset the Advanced Attribute VOC (AAVOC) that contains additional properties of the image. We show that the usage of context greatly improve the accuracy of verification with up to 16% improvement.

##### Abstract (translated by Google)
本文研究了基于多级共现的中介视觉内容验证方法。共现统计通常用于根据从数据收集的信息确定对象之间的关系属性。因此，这些措施严重受到相对出现次数的影响，并且在预测现实世界中的物体时仅给予有限的准确度。为了提高这种方法在验证任务中的准确性，我们包括环境信息，如位置，环境类型等。为了训练我们的模型，我们提供了新的注释数据集高级属性VOC（AAVOC），其中包含附加属性的形象。我们表明，上下文的使用大大提高了验证的准确性，提高了16％。

##### URL
[https://arxiv.org/abs/1709.00141](https://arxiv.org/abs/1709.00141)

##### PDF
[https://arxiv.org/pdf/1709.00141](https://arxiv.org/pdf/1709.00141)

