---
layout: post
title: "Neural Class-Specific Regression for face verification"
date: 2017-08-31 09:48:37
categories: arXiv_CV
tags: arXiv_CV Face
author: Guanqun Cao, Alexandros Iosifidis, Moncef Gabbouj
mathjax: true
---

* content
{:toc}

##### Abstract
Face verification is a problem approached in the literature mainly using nonlinear class-specific subspace learning techniques. While it has been shown that kernel-based Class-Specific Discriminant Analysis is able to provide excellent performance in small- and medium-scale face verification problems, its application in today's large-scale problems is difficult due to its training space and computational requirements. In this paper, generalizing our previous work on kernel-based class-specific discriminant analysis, we show that class-specific subspace learning can be cast as a regression problem. This allows us to derive linear, (reduced) kernel and neural network-based class-specific discriminant analysis methods using efficient batch and/or iterative training schemes, suited for large-scale learning problems. We test the performance of these methods in two datasets describing medium- and large-scale face verification problems.

##### Abstract (translated by Google)
人脸识别是文献中涉及的主要使用非线性特定类别子空间学习技术的问题。虽然已经证明基于核的特定类别鉴别分析能够在中小规模人脸验证问题中提供出色的性能，但是由于其训练空间和计算需求，其在当今大规模问题中的应用是困难的。在本文中，我们将以前的工作推广到基于核的类特定判别分析，我们表明类特定的子空间学习可以作为一个回归问题。这使我们能够使用适用于大规模学习问题的高效批处理和/或迭代训练方案推导线性（减少的）核函数和基于神经网络的类特定判别分析方法。我们在两个描述中大规模人脸验证问题的数据集中测试这些方法的性能。

##### URL
[https://arxiv.org/abs/1708.09642](https://arxiv.org/abs/1708.09642)

##### PDF
[https://arxiv.org/pdf/1708.09642](https://arxiv.org/pdf/1708.09642)

