---
layout: post
title: "Deep Speaker Feature Learning for Text-independent Speaker Verification"
date: 2017-05-10 09:30:42
categories: arXiv_CL
tags: arXiv_CL CNN
author: Lantian Li, Yixiang Chen, Ying Shi, Zhiyuan Tang, Dong Wang
mathjax: true
---

* content
{:toc}

##### Abstract
Recently deep neural networks (DNNs) have been used to learn speaker features. However, the quality of the learned features is not sufficiently good, so a complex back-end model, either neural or probabilistic, has to be used to address the residual uncertainty when applied to speaker verification, just as with raw features. This paper presents a convolutional time-delay deep neural network structure (CT-DNN) for speaker feature learning. Our experimental results on the Fisher database demonstrated that this CT-DNN can produce high-quality speaker features: even with a single feature (0.3 seconds including the context), the EER can be as low as 7.68%. This effectively confirmed that the speaker trait is largely a deterministic short-time property rather than a long-time distributional pattern, and therefore can be extracted from just dozens of frames.

##### Abstract (translated by Google)
最近深度神经网络（DNN）已被用于学习说话者特征。然而，学习特征的质量不够好，所以当应用于说话者验证时，必须使用复杂的后端模型（无论是神经还是概率的）来解决残差不确定性，就像原始特征一样。本文提出了一种用于说话人特征学习的卷积时延深度神经网络结构（CT-DNN）。我们在Fisher数据库上的实验结果表明，这种CT-DNN可以产生高质量的扬声器特征：即使具有单个特征（0.3秒包括上下文），EER也可以低至7.68％。这有效地证实了说话者特质在很大程度上是一个确定性的短时特性，而不是一个长时间的分布模式，因此可以从几十帧中提取出来。

##### URL
[https://arxiv.org/abs/1705.03670](https://arxiv.org/abs/1705.03670)

##### PDF
[https://arxiv.org/pdf/1705.03670](https://arxiv.org/pdf/1705.03670)

