---
layout: post
title: "SigNet: Convolutional Siamese Network for Writer Independent Offline Signature Verification"
date: 2017-09-30 17:13:46
categories: arXiv_CV
tags: arXiv_CV CNN
author: Sounak Dey, Anjan Dutta, J. Ignacio Toledo, Suman K. Ghosh, Josep Llados, Umapada Pal
mathjax: true
---

* content
{:toc}

##### Abstract
Offline signature verification is one of the most challenging tasks in biometrics and document forensics. Unlike other verification problems, it needs to model minute but critical details between genuine and forged signatures, because a skilled falsification might often resembles the real signature with small deformation. This verification task is even harder in writer independent scenarios which is undeniably fiscal for realistic cases. In this paper, we model an offline writer independent signature verification task with a convolutional Siamese network. Siamese networks are twin networks with shared weights, which can be trained to learn a feature space where similar observations are placed in proximity. This is achieved by exposing the network to a pair of similar and dissimilar observations and minimizing the Euclidean distance between similar pairs while simultaneously maximizing it between dissimilar pairs. Experiments conducted on cross-domain datasets emphasize the capability of our network to model forgery in different languages (scripts) and handwriting styles. Moreover, our designed Siamese network, named SigNet, exceeds the state-of-the-art results on most of the benchmark signature datasets, which paves the way for further research in this direction.

##### Abstract (translated by Google)
离线签名验证是生物识别和文件取证中最具挑战性的任务之一。与其他验证问题不同的是，它需要模拟真实签名和伪造签名之间的细微而关键的细节，因为熟练的伪造通常可能与小变形的真实签名类似。这种验证任务在作家独立的场景中更加困难，这对于现实的案例是不可否认的。在本文中，我们用一个卷积连体网络对离线写作者独立签名验证任务建模。连体网络是具有共享权重的双胞胎网络，可以通过训练来学习一个特征空间，在这个特征空间中类似的观测被放置在附近。这是通过将网络暴露于一对相似的和不相似的观测值并且使相似对之间的欧几里得距离最小化，同时使其在不相似对之间最大化来实现的。对跨域数据集进行的实验强调了我们网络以不同语言（脚本）和手写体风格对伪造进行建模的能力。此外，我们设计的名为SigNet的Siamese网络超过了大多数基准签名数据集的最新成果，为进一步研究这一方向铺平了道路。

##### URL
[https://arxiv.org/abs/1707.02131](https://arxiv.org/abs/1707.02131)

##### PDF
[https://arxiv.org/pdf/1707.02131](https://arxiv.org/pdf/1707.02131)

