---
layout: post
title: "Anti-Makeup: Learning A Bi-Level Adversarial Network for Makeup-Invariant Face Verification"
date: 2017-11-22 13:04:41
categories: arXiv_CV
tags: arXiv_CV Adversarial Face
author: Yi Li, Lingxiao Song, Xiang Wu, Ran He, Tieniu Tan
mathjax: true
---

* content
{:toc}

##### Abstract
Makeup is widely used to improve facial attractiveness and is well accepted by the public. However, different makeup styles will result in significant facial appearance changes. It remains a challenging problem to match makeup and non-makeup face images. This paper proposes a learning from generation approach for makeup-invariant face verification by introducing a bi-level adversarial network (BLAN). To alleviate the negative effects from makeup, we first generate non-makeup images from makeup ones, and then use the synthesized non-makeup images for further verification. Two adversarial networks in BLAN are integrated in an end-to-end deep network, with the one on pixel level for reconstructing appealing facial images and the other on feature level for preserving identity information. These two networks jointly reduce the sensing gap between makeup and non-makeup images. Moreover, we make the generator well constrained by incorporating multiple perceptual losses. Experimental results on three benchmark makeup face datasets demonstrate that our method achieves state-of-the-art verification accuracy across makeup status and can produce photo-realistic non-makeup face images.

##### Abstract (translated by Google)
化妆广泛用于改善面部吸引力，并被公众所接受。但是，不同的化妆风格会导致明显的面部外观变化。匹配化妆和非化妆脸部图像仍然是一个具有挑战性的问题。本文通过引入双层对抗网络（BLAN），提出了一种面向化妆不变面部验证的自学习生成方法。为了减轻化妆造成的负面影响，我们首先从化妆图像生成非化妆图像，然后使用合成的非化妆图像进一步验证。 BLAN中的两个对抗网络被集成在一个端到端的深度网络中，其中像素级网络用于重建有吸引力的面部图像，另一个用于保存身份信息的特征级别。这两个网络共同减少了化妆和非化妆图像之间的感知差距。而且，我们通过引入多重感知损失使发电机受到很大限制。在三个基准化妆脸部数据集的实验结果表明，我们的方法达到跨化妆状态的最先进的验证准确性，并可以产生照片般逼真的非化妆脸部图像。

##### URL
[https://arxiv.org/abs/1709.03654](https://arxiv.org/abs/1709.03654)

##### PDF
[https://arxiv.org/pdf/1709.03654](https://arxiv.org/pdf/1709.03654)

