---
layout: post
title: "von Mises-Fisher Mixture Model-based Deep learning: Application to Face Verification"
date: 2017-06-13 21:43:05
categories: arXiv_CV
tags: arXiv_CV Face Classification Deep_Learning Recognition
author: Md. Abul Hasnat, Julien Bohné, Jonathan Milgram, Stéphane Gentric, Liming Chen
mathjax: true
---

* content
{:toc}

##### Abstract
A number of pattern recognition tasks, e.g., face verification, can be boiled down to classification or clustering of unit length directional feature vectors whose distance can be simply computed by their angle. In this paper, we propose the von Mises-Fisher (vMF) mixture model as the theoretical foundation for an effective deep-learning of such directional features and derive a novel vMF Mixture Loss and its corresponding vMF deep features. The proposed vMF features learning achieves a discriminative learning, i.e., compacting the instances of the same class while increasing the distance of instances from different classes, and subsumes a number of loss functions or deep learning practice, e.g., normalization. The experiments carried out on face verification using 4 different challenging face datasets, i.e., LFW, IJB-A, YouTube Faces and CACD, show the effectiveness of the proposed approach, which displays very competitive and state-of-the-art results.

##### Abstract (translated by Google)
许多模式识别任务，例如面部验证，可以归结为单位长度方向特征向量的分类或聚类，其距离可以通过它们的角度简单地计算。本文提出了von Mises-Fisher（vMF）混合模型作为这种方向特征的有效深度学习的理论基础，并推导出一种新颖的vMF混合损失及其相应的vMF深度特征。所提出的vMF特征学习实现了区分性学习，即，压缩相同类别的实例，同时增加来自不同类别的实例的距离，并包含许多损失函数或深度学习实践，例如归一化。使用4种不同具有挑战性的脸部数据集（即LFW，IJB-A，YouTube脸部和CACD）进行的脸部验证实验显示了所提出的方法的有效性，其显示出非常有竞争力和最先进的结果。

##### URL
[https://arxiv.org/abs/1706.04264](https://arxiv.org/abs/1706.04264)

##### PDF
[https://arxiv.org/pdf/1706.04264](https://arxiv.org/pdf/1706.04264)

