---
layout: post
title: "The Do's and Don'ts for CNN-based Face Verification"
date: 2017-09-06 19:05:22
categories: arXiv_CV
tags: arXiv_CV Face Recognition Face_Recognition
author: Ankan Bansal, Carlos Castillo, Rajeev Ranjan, Rama Chellappa
mathjax: true
---

* content
{:toc}

##### Abstract
While the research community appears to have developed a consensus on the methods of acquiring annotated data, design and training of CNNs, many questions still remain to be answered. In this paper, we explore the following questions that are critical to face recognition research: (i) Can we train on still images and expect the systems to work on videos? (ii) Are deeper datasets better than wider datasets? (iii) Does adding label noise lead to improvement in performance of deep networks? (iv) Is alignment needed for face recognition? We address these questions by training CNNs using CASIA-WebFace, UMDFaces, and a new video dataset and testing on YouTube- Faces, IJB-A and a disjoint portion of UMDFaces datasets. Our new data set, which will be made publicly available, has 22,075 videos and 3,735,476 human annotated frames extracted from them.

##### Abstract (translated by Google)
虽然研究界似乎已经就获得注释数据，设计和培训CNN的方法达成共识，但仍有许多问题需要回答。在本文中，我们探讨以下对于人脸识别研究至关重要的问题：（i）我们能训练静态图像，并期望系统能够处理视频吗？ （ii）深层数据集是否优于更广泛的数据集？ （iii）增加标签噪音是否会导致深度网络性能的提高？ （iv）是否需要进行人脸识别？我们通过使用CASIA-WebFace，UMDFaces和一个新的视频数据集来训练CNN来解决这些问题，并在YouTube-Faces，IJB-A和UMDFaces数据集的不相交部分进行测试。我们的新数据集将公开发布，其中有22,075个视频和3,735,476个人类注释框架。

##### URL
[https://arxiv.org/abs/1705.07426](https://arxiv.org/abs/1705.07426)

##### PDF
[https://arxiv.org/pdf/1705.07426](https://arxiv.org/pdf/1705.07426)

