---
layout: post
title: "Combining Keystroke Dynamics and Face Recognition for User Verification"
date: 2017-08-02 21:13:59
categories: arXiv_CV
tags: arXiv_CV Face Recognition Face_Recognition
author: Abhinav Gupta, Agrim Khanna, Anmol Jagetia, Devansh Sharma, Sanchit Alekh, Vaibhav Choudhary
mathjax: true
---

* content
{:toc}

##### Abstract
The massive explosion and ubiquity of computing devices and the outreach of the web have been the most defining events of the century so far. As more and more people gain access to the internet, traditional know-something and have-something authentication methods such as PINs and passwords are proving to be insufficient for prohibiting unauthorized access to increasingly personal data on the web. Therefore, the need of the hour is a user-verification system that is not only more reliable and secure, but also unobtrusive and minimalistic. Keystroke Dynamics is a novel Biometric Technique; it is not only unobtrusive, but also transparent and inexpensive. The fusion of keystroke dynamics and Face Recognition engenders the most desirable characteristics of a verification system. Our implementation uses Hidden Markov Models (HMM) for modelling the Keystroke Dynamics, with the help of two widely used Feature Vectors: Keypress Latency and Keypress Duration. On the other hand, Face Recognition makes use of the traditional Eigenfaces approach.The results show that the system has a high precision, with a False Acceptance Rate of 5.4% and a False Rejection Rate of 9.2%. Moreover, it is also future-proof, as the hardware requirements, i.e. camera and keyboard (physical or on-screen), have become an indispensable part of modern computing.

##### Abstract (translated by Google)
计算设备的大规模爆炸和无处不在以及网络的外延已成为本世纪迄今为止最具有决定性的事件。随着越来越多的人进入互联网，传统的知识和身份验证方法（如PIN和密码）被证明是不足以阻止未经授权访问网络上越来越多的个人数据的。因此，小时的需求是一个用户验证系统，不仅更可靠和安全，而且不显眼和简约。击键动力学是一种新型的生物识别技术;它不仅不显眼，而且透明和便宜。击键动力学和人脸识别的融合产生了验证系统的最理想的特征。我们的实现使用隐马尔可夫模型（HMM）来建模按键动力学，在两个广泛使用的特征矢量的帮助下：按键延迟和按键持续时间。另一方面，人脸识别采用了传统的特征脸方法，结果表明该系统具有较高的准确率，误判率为5.4％，误判率为9.2％。而且，由于硬件要求，即照相机和键盘（物理的或屏幕上的）已经成为现代计算机不可缺少的部分，所以它也是未来的发展方向。

##### URL
[https://arxiv.org/abs/1708.00931](https://arxiv.org/abs/1708.00931)

##### PDF
[https://arxiv.org/pdf/1708.00931](https://arxiv.org/pdf/1708.00931)

