---
layout: post
title: "Hybrid Feature Learning for Handwriting Verification"
date: 2018-11-19 02:02:28
categories: arXiv_CV
tags: arXiv_CV CNN Deep_Learning
author: Mohammad Abuzar Shaikh, Mihir Chauhan, Jun Chu, Sargur Srihari
mathjax: true
---

* content
{:toc}

##### Abstract
We propose an effective Hybrid Deep Learning (HDL) architecture for the task of determining the probability that a questioned handwritten word has been written by a known writer. HDL is an amalgamation of Auto-Learned Features (ALF) and Human-Engineered Features (HEF). To extract auto-learned features we use two methods: First, Two Channel Convolutional Neural Network (TC-CNN); Second, Two Channel Autoencoder (TC-AE). Furthermore, human-engineered features are extracted by using two methods: First, Gradient Structural Concavity (GSC); Second, Scale Invariant Feature Transform (SIFT). Experiments are performed by complementing one of the HEF methods with one ALF method on 150000 pairs of samples of the word "AND" cropped from handwritten notes written by 1500 writers. Our results indicate that HDL architecture with AE-GSC achieves 99.7% accuracy on seen writer dataset and 92.16% accuracy on shuffled writer dataset which out performs CEDAR-FOX, as for unseen writer dataset, AE-SIFT performs comparable to this sophisticated handwriting comparison tool.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1812.02621](http://arxiv.org/abs/1812.02621)

##### PDF
[http://arxiv.org/pdf/1812.02621](http://arxiv.org/pdf/1812.02621)

