---
layout: post
title: "A Unified View of Piecewise Linear Neural Network Verification"
date: 2018-05-11 09:58:39
categories: arXiv_AI
tags: arXiv_AI Deep_Learning
author: Rudy Bunel, Ilker Turkaslan, Philip H.S. Torr, Pushmeet Kohli, M. Pawan Kumar
mathjax: true
---

* content
{:toc}

##### Abstract
The success of Deep Learning and its potential use in many safety-critical applications has motivated research on formal verification of Neural Network (NN) models. Despite the reputation of learned NN models to behave as black boxes and the theoretical hardness of proving their properties, researchers have been successful in verifying some classes of models by exploiting their piecewise linear structure. To facilitate progress on this crucial area, we make two key contributions. First, we present a unified framework that encompasses previous methods. This analysis results in the identification of new methods that combine the strengths of multiple existing approaches. Second, we propose a new data set of benchmarks which includes a collection of previously released testcases. We use the benchmark to provide the first experimental comparison of the algorithms.

##### Abstract (translated by Google)
深度学习的成功及其在许多安全关键应用中的潜在用途激发了对神经网络（NN）模型形式验证的研究。尽管学习NN模型的行为像黑匣子和证明其属性的理论硬度的声誉，但研究人员已经成功地通过利用它们的分段线性结构来验证某些类型的模型。为了促进这一关键领域的进展，我们做出了两项重要贡献。首先，我们提出一个包含以前方法的统一框架。这种分析导致了结合多种现有方法优点的新方法的识别。其次，我们提出了一套新的基准测试数据集，其中包括一系列以前发布的测试用例。我们使用基准来提供算法的第一个实验比较。

##### URL
[http://arxiv.org/abs/1711.00455](http://arxiv.org/abs/1711.00455)

##### PDF
[http://arxiv.org/pdf/1711.00455](http://arxiv.org/pdf/1711.00455)

