---
layout: post
title: "Prosodic-Enhanced Siamese Convolutional Neural Networks for Cross-Device Text-Independent Speaker Verification"
date: 2018-07-31 19:21:59
categories: arXiv_SD
tags: arXiv_SD CNN
author: Sobhan Soleymani, Ali Dabouei, Seyed Mehdi Iranmanesh, Hadi Kazemi, Jeremy Dawson, Nasser M. Nasrabadi
mathjax: true
---

* content
{:toc}

##### Abstract
In this paper a novel cross-device text-independent speaker verification architecture is proposed. Majority of the state-of-the-art deep architectures that are used for speaker verification tasks consider Mel-frequency cepstral coefficients. In contrast, our proposed Siamese convolutional neural network architecture uses Mel-frequency spectrogram coefficients to benefit from the dependency of the adjacent spectro-temporal features. Moreover, although spectro-temporal features have proved to be highly reliable in speaker verification models, they only represent some aspects of short-term acoustic level traits of the speaker's voice. However, the human voice consists of several linguistic levels such as acoustic, lexicon, prosody, and phonetics, that can be utilized in speaker verification models. To compensate for these inherited shortcomings in spectro-temporal features, we propose to enhance the proposed Siamese convolutional neural network architecture by deploying a multilayer perceptron network to incorporate the prosodic, jitter, and shimmer features. The proposed end-to-end verification architecture performs feature extraction and verification simultaneously. This proposed architecture displays significant improvement over classical signal processing approaches and deep algorithms for forensic cross-device speaker verification.

##### Abstract (translated by Google)
在本文中，提出了一种新颖的跨设备文本无关的说话人验证架构。用于说话者验证任务的大多数最先进的深层架构都考虑了Mel频率倒谱系数。相比之下，我们提出的Siamese卷积神经网络架构使用Mel频谱图系数来受益于相邻光谱 - 时间特征的依赖性。此外，尽管在说话者验证模型中证明了光谱时间特征是高度可靠的，但它们仅代表说话者语音的短期声级特征的某些方面。然而，人声包括声学，词汇，韵律和语音等几个语言层面，可用于说话者验证模型。为了弥补光谱时间特征中的这些遗传缺点，我们建议通过部署多层感知器网络来结合韵律，抖动和微光特征来增强所提出的连体卷积神经网络架构。建议的端到端验证架构同时执行特征提取和验证。该提出的架构显示出对经典信号处理方法和用于取证跨设备说话者验证的深度算法的显着改进。

##### URL
[https://arxiv.org/abs/1808.01026](https://arxiv.org/abs/1808.01026)

##### PDF
[https://arxiv.org/pdf/1808.01026](https://arxiv.org/pdf/1808.01026)

