---
layout: post
title: "Unary and Binary Classification Approaches and their Implications for Authorship Verification"
date: 2018-12-31 16:04:16
categories: arXiv_CL
tags: arXiv_CL Review Attention Classification
author: Oren Halvani, Christian Winter, Lukas Graner
mathjax: true
---

* content
{:toc}

##### Abstract
Retrieving indexed documents, not by their topical content but their writing style opens the door for a number of applications in information retrieval (IR). One application is to retrieve textual content of a certain author X, where the queried IR system is provided beforehand with a set of reference texts of X. Authorship verification (AV), which is a research subject in the field of digital text forensics, is suitable for this purpose. The task of AV is to determine if two documents (i.e. an indexed and a reference document) have been written by the same author X. Even though AV represents a unary classification problem, a number of existing approaches consider it as a binary classification task. However, the underlying classification model of an AV method has a number of serious implications regarding its prerequisites, evaluability, and applicability. In our comprehensive literature review, we observed several misunderstandings regarding the differentiation of unary and binary AV approaches that require consideration. The objective of this paper is, therefore, to clarify these by proposing clear criteria and new properties that aim to improve the characterization of existing and future AV approaches. Given both, we investigate the applicability of eleven existing unary and binary AV methods as well as four generic unary classification algorithms on two self-compiled corpora. Furthermore, we highlight an important issue concerning the evaluation of AV methods based on fixed decision criterions, which has not been paid attention in previous AV studies.

##### Abstract (translated by Google)


##### URL
[https://arxiv.org/abs/1901.00399](https://arxiv.org/abs/1901.00399)

##### PDF
[https://arxiv.org/pdf/1901.00399](https://arxiv.org/pdf/1901.00399)

