---
layout: post
title: "Automated Scene Flow Data Generation for Training and Verification"
date: 2018-08-30 11:37:01
categories: arXiv_CV
tags: arXiv_CV
author: Oliver Wasenm&#xfc;ller, Ren&#xe9; Schuster, Didier Stricker, Karl Leiss, J&#xfc;rger Pfister, Oleksandra Ganus, Julian Tatsch, Artem Savkin, Nikolas Brasch
mathjax: true
---

* content
{:toc}

##### Abstract
Scene flow describes the 3D position as well as the 3D motion of each pixel in an image. Such algorithms are the basis for many state-of-the-art autonomous or automated driving functions. For verification and training large amounts of ground truth data is required, which is not available for real data. In this paper, we demonstrate a technology to create synthetic data with dense and precise scene flow ground truth.

##### Abstract (translated by Google)
场景流描述了3D位置以及图像中每个像素的3D运动。这些算法是许多最先进的自动或自动驾驶功能的基础。为了验证和训练，需要大量的地面实况数据，这些数据不适用于实际数据。在本文中，我们展示了一种创建具有密集和精确的场景流基础事实的合成数据的技术。

##### URL
[http://arxiv.org/abs/1808.10232](http://arxiv.org/abs/1808.10232)

##### PDF
[http://arxiv.org/pdf/1808.10232](http://arxiv.org/pdf/1808.10232)

