---
layout: post
title: "All-in-one: Multi-task Learning for Rumour Verification"
date: 2018-06-10 19:46:17
categories: arXiv_CL
tags: arXiv_CL Tracking Classification Detection
author: Elena Kochkina, Maria Liakata, Arkaitz Zubiaga
mathjax: true
---

* content
{:toc}

##### Abstract
Automatic resolution of rumours is a challenging task that can be broken down into smaller components that make up a pipeline, including rumour detection, rumour tracking and stance classification, leading to the final outcome of determining the veracity of a rumour. In previous work, these steps in the process of rumour verification have been developed as separate components where the output of one feeds into the next. We propose a multi-task learning approach that allows joint training of the main and auxiliary tasks, improving the performance of rumour verification. We examine the connection between the dataset properties and the outcomes of the multi-task learning models used.

##### Abstract (translated by Google)
自动解决谣言是一项具有挑战性的任务，可以将其分解为构成流程的较小组件，包括谣言检测，谣言追踪和立场分类，从而导致确定谣言真实性的最终结果。在以前的工作中，谣言验证过程中的这些步骤已经作为单独的组成部分进行开发，其中一部分的输出进入下一部分。我们提出了一种多任务学习方法，允许对主要和辅助任务进行联合培训，提高谣言验证的性能。我们检查数据集属性与所使用的多任务学习模型的结果之间的关系。

##### URL
[http://arxiv.org/abs/1806.03713](http://arxiv.org/abs/1806.03713)

##### PDF
[http://arxiv.org/pdf/1806.03713](http://arxiv.org/pdf/1806.03713)

