---
layout: post
title: "Hierarchical Representation Learning for Kinship Verification"
date: 2018-05-27 00:18:12
categories: arXiv_CV
tags: arXiv_CV Regularization GAN Face Represenation_Learning Deep_Learning Relation
author: Naman Kohli, Mayank Vatsa, Richa Singh, Afzel Noore, Angshul Majumdar
mathjax: true
---

* content
{:toc}

##### Abstract
Kinship verification has a number of applications such as organizing large collections of images and recognizing resemblances among humans. In this research, first, a human study is conducted to understand the capabilities of human mind and to identify the discriminatory areas of a face that facilitate kinship-cues. Utilizing the information obtained from the human study, a hierarchical Kinship Verification via Representation Learning (KVRL) framework is utilized to learn the representation of different face regions in an unsupervised manner. We propose a novel approach for feature representation termed as filtered contractive deep belief networks (fcDBN). The proposed feature representation encodes relational information present in images using filters and contractive regularization penalty. A compact representation of facial images of kin is extracted as an output from the learned model and a multi-layer neural network is utilized to verify the kin accurately. A new WVU Kinship Database is created which consists of multiple images per subject to facilitate kinship verification. The results show that the proposed deep learning framework (KVRL-fcDBN) yields stateof-the-art kinship verification accuracy on the WVU Kinship database and on four existing benchmark datasets. Further, kinship information is used as a soft biometric modality to boost the performance of face verification via product of likelihood ratio and support vector machine based approaches. Using the proposed KVRL-fcDBN framework, an improvement of over 20% is observed in the performance of face verification.

##### Abstract (translated by Google)
亲缘关系验证有许多应用，例如组织大量图像并识别人类之间的相似性。在这项研究中，首先进行一项人类研究，以了解人类思维的能力，并确定促进亲属关系线索的面部歧视区域。利用从人类研究中获得的信息，利用通过表示学习（KVRL）框架的分层亲缘验证来以无监督的方式学习不同面部区域的表示。我们提出了一种新的特征表示方法，称为过滤收缩深信念网络（fcDBN）。所提出的特征表示使用滤波器和收缩正则化惩罚对图像中存在的关系信息进行编码。从学习模型的输出中提取亲属的面部图像的紧凑表示，并且利用多层神经网络来准确地验证亲属。创建一个新的WVU亲属关系数据库，该数据库由每个主题的多个图像组成，以促进亲属关系验证。结果表明，所提出的深度学习框架（KVRL-fcDBN）在WVU亲属关系数据库和四个现有的基准数据集上获得了最先进的亲属关系验证准确性。此外，亲缘关系信息被用作软生物特征模式，以通过似然比和基于支持向量机的方法的产物来提高人脸验证的性能。使用所提出的KVRL-fcDBN框架，在人脸验证的性能方面观察到超过20％的改善。

##### URL
[http://arxiv.org/abs/1805.10557](http://arxiv.org/abs/1805.10557)

##### PDF
[http://arxiv.org/pdf/1805.10557](http://arxiv.org/pdf/1805.10557)

