---
layout: post
title: "Multiobjective Optimization Training of PLDA for Speaker Verification"
date: 2018-08-25 01:48:05
categories: arXiv_SD
tags: arXiv_SD Optimization
author: Liang He, Xianhong Chen, Can Xu, Jia Liu
mathjax: true
---

* content
{:toc}

##### Abstract
Most current state-of-the-art text-independent speaker verification systems take probabilistic linear discriminant analysis (PLDA) as their backend classifiers. The model parameters of PLDA is often estimated by maximizing the log-likelihood function. This training procedure focuses on increasing the log-likelihood, while ignoring the distinction between speakers. In order to better distinguish speakers, we propose a multiobjective optimization training for PLDA. Experiment results show that the proposed method has more than 10% relative performance improvement for both EER and the MinDCF on the NIST SRE 2014 i-vector challenge dataset.

##### Abstract (translated by Google)
大多数当前最先进的与文本无关的说话者验证系统采用概率线性判别分析（PLDA）作为其后端分类器。 PLDA的模型参数通常通过最大化对数似然函数来估计。该培训程序侧重于增加对数似然，而忽略了发言者之间的区别。为了更好地区分扬声器，我们提出了PLDA的多目标优化训练。实验结果表明，在NIST SRE 2014 i-vector挑战数据集中，所提出的方法对EER和MinDCF的相对性能提高了10％以上。

##### URL
[http://arxiv.org/abs/1808.08344](http://arxiv.org/abs/1808.08344)

##### PDF
[http://arxiv.org/pdf/1808.08344](http://arxiv.org/pdf/1808.08344)

