---
layout: post
title: "ML + FV = $heartsuit$? A Survey on the Application of Machine Learning to Formal Verification"
date: 2018-06-10 07:29:41
categories: arXiv_AI
tags: arXiv_AI Survey
author: Moussa Amrani (1), Levi L&#xf9;cio (2), Adrien Bibal (1) (University of Namur, Faculty of Computer Science, PReCiSE / NaDI, Namur, Belgium (2) fortiss GmbH, M&#xfc;nchen, Germany)
mathjax: true
---

* content
{:toc}

##### Abstract
Formal Verification (FV) and Machine Learning (ML) can seem incompatible due to their opposite mathematical foundations and their use in real-life problems: FV mostly relies on discrete mathematics and aims at ensuring correctness; ML often relies on probabilistic models and consists of learning patterns from training data. In this paper, we postulate that they are complementary in practice, and explore how ML helps FV in its classical approaches: static analysis, model-checking, theorem-proving, and SAT solving. We draw a landscape of the current practice and catalog some of the most prominent uses of ML inside FV tools, thus offering a new perspective on FV techniques that can help researchers and practitioners to better locate the possible synergies. We discuss lessons learned from our work, point to possible improvements and offer visions for the future of the domain in the light of the science of software and systems modeling.

##### Abstract (translated by Google)
形式验证（FV）和机器学习（ML）由于其相反的数学基础和它们在现实生活中的使用问题似乎是不相容的：FV主要依赖于离散数学，旨在确保正确性; ML通常依赖于概率模型，并且包含来自训练数据的学习模式。在本文中，我们假设它们在实践中是相辅相成的，并且探索ML如何帮助经典方法中的FV：静态分析，模型检验，定理证明和SAT求解。我们绘制了当前实践的景观，并列举了FV工具中ML的一些最突出的用途，从而提供了有关FV技术的新视角，可帮助研究人员和从业人员更好地找到可能的协同作用。我们从我们的工作中汲取经验教训，指出可能的改进，并根据软件和系统建模科学提供该领域未来的愿景。

##### URL
[http://arxiv.org/abs/1806.03600](http://arxiv.org/abs/1806.03600)

##### PDF
[http://arxiv.org/pdf/1806.03600](http://arxiv.org/pdf/1806.03600)

