---
layout: post
title: "Performance of Humans in Iris Recognition: The Impact of Iris Condition and Annotation-driven Verification"
date: 2018-07-13 18:36:54
categories: arXiv_CV
tags: arXiv_CV Classification Recognition
author: Daniel Moreira, Mateusz Trokielewicz, Adam Czajka, Kevin W. Bowyer, Patrick J. Flynn
mathjax: true
---

* content
{:toc}

##### Abstract
This paper advances the state of the art in human examination of iris images by (1) assessing the impact of different iris conditions in identity verification, and (2) introducing an annotation step that improves the accuracy of people's decisions. In a first experimental session, 114 subjects were asked to decide if pairs of iris images depict the same eye (genuine pairs) or two distinct eyes (impostor pairs). The image pairs sampled six conditions: (1) easy for algorithms to classify, (2) difficult for algorithms to classify, (3) large difference in pupil dilation, (4) disease-affected eyes, (5) identical twins, and (6) post-mortem samples. In a second session, 85 of the 114 subjects were asked to annotate matching and non-matching regions that supported their decisions. Subjects were allowed to change their initial classification as a result of the annotation process. Results suggest that: (a) people improve their identity verification accuracy when asked to annotate matching and non-matching regions between the pair of images, (b) images depicting the same eye with large difference in pupil dilation were the most challenging to subjects, but benefited well from the annotation-driven classification, (c) humans performed better than iris recognition algorithms when verifying genuine pairs of post-mortem and disease-affected eyes (i.e., samples showing deformations that go beyond the distortions of a healthy iris due to pupil dilation), and (d) annotation does not improve accuracy of analyzing images from identical twins, which remain confusing for people.

##### Abstract (translated by Google)
本文通过（1）评估不同虹膜条件对身份验证的影响，以及（2）引入提高人们决策准确性的注释步骤，提出了虹膜图像人体检查的最新技术。在第一次实验期间，要求114名受试者决定虹膜图像对是否描绘了同一只眼睛（真正的对）或两只不同的眼睛（冒名顶替者对）。图像对采样六个条件：（1）算法易于分类，（2）算法难以分类，（3）瞳孔扩张差异大，（4）受疾病影响的眼睛，（5）同卵双胞胎，（ 6）验尸样品。在第二次会议中，114名受试者中的85名被要求注释支持其决定的匹配和非匹配区域。作为注释过程的结果，允许受试者改变其初始分类。结果表明：（a）当被要求注释这对图像之间的匹配和非匹配区域时，人们提高了他们的身份验证准确度，（b）描绘瞳孔扩张差异大的同一只眼睛的图像对受试者来说是最具挑战性的，但是，从注释驱动的分类中获益良多，（c）在验证真实的死后和受疾病影响的眼睛对时，人类比虹膜识别算法表现得更好（即样本显示的变形超出了健康虹膜的扭曲，因为瞳孔扩张）和（d）注释不会提高分析来自同卵双胞胎的图像的准确性，这对人们来说仍然是混乱的。

##### URL
[http://arxiv.org/abs/1807.05245](http://arxiv.org/abs/1807.05245)

##### PDF
[http://arxiv.org/pdf/1807.05245](http://arxiv.org/pdf/1807.05245)

