---
layout: post
title: "Two-stage iterative Procrustes match algorithm and its application for VQ-based speaker verification"
date: 2018-07-10 12:15:54
categories: arXiv_CV
tags: arXiv_CV OCR Classification Recognition
author: Richeng Tan, Jing Li
mathjax: true
---

* content
{:toc}

##### Abstract
In the past decades, Vector Quantization (VQ) model has been very popular across different pattern recognition areas, especially for feature-based tasks. However, the classification or regression performance of VQ-based systems always confronts the feature mismatch problem, which will heavily affect the performance of them. In this paper, we propose a two-stage iterative Procrustes algorithm (TIPM) to address the feature mismatch problem for VQ-based applications. At the first stage, the algorithm will remove mismatched feature vector pairs for a pair of input feature sets. Then, the second stage will collect those correct matched feature pairs that were discarded during the first stage. To evaluate the effectiveness of the proposed TIPM algorithm, speaker verification is used as the case study in this paper. The experiments were conducted on the TIMIT database and the results show that TIPM can improve VQ-based speaker verification performance clean condition and all noisy conditions.

##### Abstract (translated by Google)
在过去的几十年中，矢量量化（VQ）模型在不同的模式识别领域中非常流行，特别是对于基于特征的任务。然而，基于VQ的系统的分类或回归性能总是面临特征不匹配问题，这将严重影响它们的性能。在本文中，我们提出了一个两阶段迭代Procrustes算法（TIPM）来解决基于VQ的应用程序的特征不匹配问题。在第一阶段，算法将移除一对输入特征集的不匹配特征向量对。然后，第二阶段将收集在第一阶段丢弃的那些正确匹配的特征对。为了评估所提出的TIPM算法的有效性，本文使用说话人验证作为案例研究。实验在TIMIT数据库上进行，结果表明TIPM可以改善基于VQ的扬声器验证性能清洁条件和所有噪声条件。

##### URL
[http://arxiv.org/abs/1807.03587](http://arxiv.org/abs/1807.03587)

##### PDF
[http://arxiv.org/pdf/1807.03587](http://arxiv.org/pdf/1807.03587)

