---
layout: post
title: "UKP-Athene: Multi-Sentence Textual Entailment for Claim Verification"
date: 2018-09-03 14:06:11
categories: arXiv_AI
tags: arXiv_AI GAN RNN Classification
author: Andreas Hanselowski, Hao Zhang, Zile Li, Daniil Sorokin, Benjamin Schiller, Claudia Schulz, Iryna Gurevych
mathjax: true
---

* content
{:toc}

##### Abstract
The Fact Extraction and VERification (FEVER) shared task was launched to support the development of systems able to verify claims by extracting supporting or refuting facts from raw text. The shared task organizers provide a large-scale dataset for the consecutive steps involved in claim verification, in particular, document retrieval, fact extraction, and claim classification. In this paper, we present our claim verification pipeline approach, which, according to the preliminary results, scored third in the shared task, out of 23 competing systems. For the document retrieval, we implemented a new entity linking approach. In order to be able to rank candidate facts and classify a claim on the basis of several selected facts, we introduce two extensions to the Enhanced LSTM (ESIM).

##### Abstract (translated by Google)
启动了事实提取和验证（FEVER）共享任务，以支持能够通过从原始文本中提取支持或驳斥事实来验证声明的系统的开发。共享任务组织者为索赔验证中涉及的连续步骤提供大规模数据集，特别是文档检索，事实提取和索赔分类。在本文中，我们提出了我们的索赔验证管道方法，根据初步结果，在23个竞争系统中共享任务中获得第三。对于文档检索，我们实现了一种新的实体链接方法。为了能够根据几个选定的事实对候选事实进行排序并对索赔进行分类，我们引入了对增强型LSTM（ESIM）的两个扩展。

##### URL
[http://arxiv.org/abs/1809.01479](http://arxiv.org/abs/1809.01479)

##### PDF
[http://arxiv.org/pdf/1809.01479](http://arxiv.org/pdf/1809.01479)

