---
layout: post
title: "Exploring a Unified Attention-Based Pooling Framework for Speaker Verification"
date: 2018-08-21 20:28:46
categories: arXiv_SD
tags: arXiv_SD Attention
author: Yi Liu, Liang He, Weiwei Liu, Jia Liu
mathjax: true
---

* content
{:toc}

##### Abstract
The pooling layer is an essential component in the neural network based speaker verification. Most of the current networks in speaker verification use average pooling to derive the utterance-level speaker representations. Average pooling takes every frame as equally important, which is suboptimal since the speaker-discriminant power is different between speech segments. In this paper, we present a unified attention-based pooling framework and combine it with the multi-head attention. Experiments on the Fisher and NIST SRE 2010 dataset show that involving outputs from lower layers to compute the attention weights can outperform average pooling and achieve better results than vanilla attention method. The multi-head attention further improves the performance.

##### Abstract (translated by Google)
汇集层是基于神经网络的说话者验证的基本组成部分。说话者验证中的大多数当前网络使用平均汇集来导出话语级别的说话者表示。平均合并将每一帧视为同等重要，这是次优的，因为说话者区段之间的说话者判别力是不同的。在本文中，我们提出了一个统一的基于注意力的池框架，并将其与多头注意力结合起来。 Fisher和NIST SRE 2010数据集的实验表明，涉及较低层的输出以计算注意权重可以胜过平均汇集并且比香草注意方法获得更好的结果。多头注意力进一步提高了性能。

##### URL
[http://arxiv.org/abs/1808.07120](http://arxiv.org/abs/1808.07120)

##### PDF
[http://arxiv.org/pdf/1808.07120](http://arxiv.org/pdf/1808.07120)

