---
layout: post
title: "Generative x-vectors for text-independent speaker verification"
date: 2018-09-17 06:04:54
categories: arXiv_SD
tags: arXiv_SD Embedding Relation
author: Longting Xu, Rohan Kumar Das, Emre Y&#x131;lmaz, Jichen Yang, Haizhou Li
mathjax: true
---

* content
{:toc}

##### Abstract
Speaker verification (SV) systems using deep neural network embeddings, so-called the x-vector systems, are becoming popular due to its good performance superior to the i-vector systems. The fusion of these systems provides improved performance benefiting both from the discriminatively trained x-vectors and generative i-vectors capturing distinct speaker characteristics. In this paper, we propose a novel method to include the complementary information of i-vector and x-vector, that is called generative x-vector. The generative x-vector utilizes a transformation model learned from the i-vector and x-vector representations of the background data. Canonical correlation analysis is applied to derive this transformation model, which is later used to transform the standard x-vectors of the enrollment and test segments to the corresponding generative x-vectors. The SV experiments performed on the NIST SRE 2010 dataset demonstrate that the system using generative x-vectors provides considerably better performance than the baseline i-vector and x-vector systems. Furthermore, the generative x-vectors outperform the fusion of i-vector and x-vector systems for long-duration utterances, while yielding comparable results for short-duration utterances.

##### Abstract (translated by Google)
使用深度神经网络嵌入的说话者验证（SV）系统，即所谓的x向量系统，由于其优于i向量系统的良好性能而变得流行。这些系统的融合提供了改进的性能，有益于受到区别训练的x向量和捕获不同说话者特征的生成i向量。在本文中，我们提出了一种新方法，包括i-vector和x-vector的互补信息，即生成x-向量。生成x向量利用从背景数据的i向量和x向量表示中学习的变换模型。应用典型相关分析来推导该转换模型，该转换模型随后用于将登记和测试片段的标准x-载体转换成相应的生成x-载体。在NIST SRE 2010数据集上进行的SV实验表明，使用生成x向量的系统提供了比基线i向量和x向量系统更好的性能。此外，生成的x-向量优于i-向量和x-向量系统的融合，用于长时间的话语，同时产生短时间话语的可比较结果。

##### URL
[http://arxiv.org/abs/1809.06798](http://arxiv.org/abs/1809.06798)

##### PDF
[http://arxiv.org/pdf/1809.06798](http://arxiv.org/pdf/1809.06798)

