---
layout: post
title: "An Experimental Evaluation of Covariates Effects on Unconstrained Face Verification"
date: 2018-08-16 14:24:37
categories: arXiv_CV
tags: arXiv_CV Face CNN Recognition Face_Recognition
author: Boyu Lu, Jun-Cheng Chen, Carlos D. Castillo, Rama Chellappa
mathjax: true
---

* content
{:toc}

##### Abstract
Covariates are factors that have a debilitating influence on face verification performance. In this paper, we comprehensively study two covariate related problems for unconstrained face verification: first, how covariates affect the performance of deep neural networks on the large-scale unconstrained face verification problem; second, how to utilize covariates to improve verification performance. To study the first problem, we implement five state-of-the-art deep convolutional networks (DCNNs) for face verification and evaluate them on three challenging covariates datasets. In total, seven covariates are considered: pose (yaw and roll), age, facial hair, gender, indoor/outdoor, occlusion (nose and mouth visibility, eyes visibility, and forehead visibility), and skin tone. These covariates cover both intrinsic subject-specific characteristics and extrinsic factors of faces. Some of the results confirm and extend the findings of previous studies, others are new findings that were rarely mentioned previously or did not show consistent trends. For the second problem, we demonstrate that with the assistance of gender information, the quality of a pre-curated noisy large-scale face dataset for face recognition can be further improved. After retraining the face recognition model using the curated data, performance improvement is observed at low False Acceptance Rates (FARs) (FAR=$10^{-5}$, $10^{-6}$, $10^{-7}$).

##### Abstract (translated by Google)
协变量是对面部验证表现具有破坏性影响的因素。在本文中，我们综合研究了无约束人脸验证的两个协变量相关问题：第一，协变量如何影响深度神经网络在大规模无约束人脸验证问题上的表现;第二，如何利用协变量来提高验证性能。为了研究第一个问题，我们实施了五个最先进的深度卷积网络（DCNN）进行面部验证，并在三个具有挑战性的协变量数据集上进行评估。总共考虑七个协变量：姿势（偏航和滚动），年龄，面部毛发，性别，室内/室外，遮挡（鼻子和嘴巴能见度，眼睛能见度和前额能见度）和肤色。这些协变量涵盖了内在的主体特征和面部的外在因素。一些结果证实并扩展了先前研究的结果，其他结果是之前很少提及或未显示一致趋势的新发现。对于第二个问题，我们证明了在性别信息的帮助下，可以进一步提高用于人脸识别的预先设定的噪声大面积人脸数据集的质量。在使用策划数据重新训练人脸识别模型后，在低错误接受率（FAR）下观察到性能提升（FAR = $ 10 ^ { -  5} $，$ 10 ^ { -  6} $，$ 10 ^ { -  7} $） 。

##### URL
[http://arxiv.org/abs/1808.05508](http://arxiv.org/abs/1808.05508)

##### PDF
[http://arxiv.org/pdf/1808.05508](http://arxiv.org/pdf/1808.05508)

