---
layout: post
title: "Are You Sure You Want To Do That? Classification with Verification"
date: 2018-09-13 03:04:38
categories: arXiv_CV
tags: arXiv_CV Classification Recognition
author: Harris Chan, Atef Chaudhury, Kevin Shen
mathjax: true
---

* content
{:toc}

##### Abstract
Classification systems typically act in isolation, meaning they are required to implicitly memorize the characteristics of all candidate classes in order to classify. The cost of this is increased memory usage and poor sample efficiency. We propose a model which instead verifies using reference images during the classification process, reducing the burden of memorization. The model uses iterative nondifferentiable queries in order to classify an image. We demonstrate that such a model is feasible to train and can match baseline accuracy while being more parameter efficient. However, we show that finding the correct balance between image recognition and verification is essential to pushing the model towards desired behavior, suggesting that a pipeline of recognition followed by verification is a more promising approach.

##### Abstract (translated by Google)
分类系统通常独立运作，这意味着它们需要隐式记住所有候选类的特征以便进行分类。这样做的代价是增加了内存使用量并降低了样本效率。我们提出了一种模型，该模型在分类过程中使用参考图像进行验证，减轻了记忆的负担。该模型使用迭代的不可微分的查询来对图像进行分类。我们证明这样的模型对于训练是可行的，并且可以在更高参数效率的同时匹配基线准确度。然而，我们表明，在图像识别和验证之间找到正确的平衡对于将模型推向期望的行为是至关重要的，这表明识别管道随后进行验证是一种更有前途的方法。

##### URL
[https://arxiv.org/abs/1809.02652](https://arxiv.org/abs/1809.02652)

##### PDF
[https://arxiv.org/pdf/1809.02652](https://arxiv.org/pdf/1809.02652)

