---
layout: post
title: "Investigation of Frame Alignments for GMM-based Text-prompted Speaker Verification"
date: 2018-06-14 13:03:06
categories: arXiv_SD
tags: arXiv_SD
author: Yi Liu, Liang He, Jia Liu, Michael T. Johnson
mathjax: true
---

* content
{:toc}

##### Abstract
Frame alignments can be computed by different methods in GMM-based speaker verification. By incorporating a phonetic Gaussian mixture model (PGMM), we are able to compare the performance using alignments extracted from the deep neural networks (DNN) and the conventional hidden Markov model (HMM) in digit-prompted speaker verification. The different characteristics of these two alignments can be utilized to verify the speech content thus further improve the security of the system. Our experiments on the RSR2015 Part-3 digit-prompted task show that, the DNN-based alignment performs on par with the HMM alignment. Results also demonstrate that it is effective to use the proposed Kullback-Leibler (KL) divergence based algorithm to reject speech with incorrect content.

##### Abstract (translated by Google)
在基于GMM的说话者验证中，可以通过不同的方法计算帧对齐。通过引入语音高斯混合模型（PGMM），我们能够使用从深度神经网络（DNN）中提取的对齐和用数字提示说话者验证的传统隐马尔可夫模型（HMM）来比较性能。这两种对准的不同特性可以用来验证语音内容，从而进一步提高系统的安全性。我们在RSR2015 Part-3数字提示任务上的实验表明，基于DNN的对齐可以与HMM对齐方式相媲美。结果还表明，使用所提出的基于Kullback-Leibler（KL）散度的算法来拒绝具有不正确内容的语音是有效的。

##### URL
[http://arxiv.org/abs/1710.10436](http://arxiv.org/abs/1710.10436)

##### PDF
[http://arxiv.org/pdf/1710.10436](http://arxiv.org/pdf/1710.10436)

