---
layout: post
title: "A novel hybrid score level and decision level fusion scheme for cancelable multi-biometric verification"
date: 2018-05-26 06:04:45
categories: arXiv_CV
tags: arXiv_CV
author: Rudresh Dwivedi, Somnath Dey
mathjax: true
---

* content
{:toc}

##### Abstract
In spite of the benefits of biometric-based authentication systems, there are few concerns raised because of the sensitivity of biometric data to outliers, low performance caused due to intra-class variations and privacy invasion caused by information leakage. To address these issues, we propose a hybrid fusion framework where only the protected modalities are combined to fulfill the requirement of secrecy and performance improvement. This paper presents a method to integrate cancelable modalities utilizing mean-closure weighting (MCW) score level and Dempster-Shafer (DS) theory based decision level fusion for iris and fingerprint to mitigate the limitations in the individual score or decision fusion mechanisms. The proposed hybrid fusion scheme incorporates the similarity scores from different matchers corresponding to each protected modality. The individual scores obtained from different matchers for each modality are combined using MCW score fusion method. The MCW technique achieves the optimal weight for each matcher involved in the score computation. Further, DS theory is applied to the induced scores to output the final decision. The rigorous experimental evaluations on three virtual databases indicate that the proposed hybrid fusion framework outperforms over the component level or individual fusion methods (score level and decision level fusion). As a result, we achieve (48%,66%), (72%,86%) and (49%,38%) of performance improvement over unimodal cancelable iris and unimodal cancelable fingerprint verification systems for Virtual_A, Virtual_B and Virtual_C databases, respectively. Also, the proposed method is robust enough to the variability of scores and outliers satisfying the requirement of secure authentication.

##### Abstract (translated by Google)
尽管基于生物识别的认证系统有其优点，但由于生物识别数据对异常值的敏感性，由于类内变化而导致的低性能以及由信息泄露引起的隐私侵入，所以几乎没有引起关注。为了解决这些问题，我们提出了一种混合融合框架，其中只有受保护的模式被组合以满足保密和性能改进的要求。本文提出了一种利用均值封闭加权（MCW）得分水平和基于DS证据理论的可降解模式对虹膜和指纹进行决策级融合的方法，以减轻个体评分或决策融合机制的局限性。所提出的混合融合方案结合了来自与每个受保护模态相对应的不同匹配器的相似性分数。使用MCW评分融合方法将从每个模式的不同匹配器获得的个体分数组合。 MCW技术为参与分数计算的每个匹配器实现最佳权重。此外，将DS理论应用于诱导分数以输出最终决定。对三个虚拟数据库进行严格的实验评估表明，所提出的混合融合框架优于组件级别或单独的融合方法（分数级别和决策级别融合）。因此，与Virtual-A，Virtual_B和Virtual_C数据库的单峰可撤销虹膜和单峰可取消指纹验证系统相比，我们的性能提高了（48％，66％），（72％，86％）和（49％，38％分别。此外，所提出的方法足够强大，以满足安全认证要求的分数和异常值的可变性。

##### URL
[http://arxiv.org/abs/1805.10433](http://arxiv.org/abs/1805.10433)

##### PDF
[http://arxiv.org/pdf/1805.10433](http://arxiv.org/pdf/1805.10433)

