---
layout: post
title: "Noise Invariant Frame Selection: A Simple Method to Address the Background Noise Problem for Text-independent Speaker Verification"
date: 2018-05-03 12:35:06
categories: arXiv_CV
tags: arXiv_CV
author: Siyang Song, Shuimei Zhang, Bj&#xf6;rn Schuller, Linlin Shen, Michel Valstar
mathjax: true
---

* content
{:toc}

##### Abstract
The performance of speaker-related systems usually degrades heavily in practical applications largely due to the presence of background noise. To improve the robustness of such systems in unknown noisy environments, this paper proposes a simple pre-processing method called Noise Invariant Frame Selection (NIFS). Based on several noisy constraints, it selects noise invariant frames from utterances to represent speakers. Experiments conducted on the TIMIT database showed that the NIFS can significantly improve the performance of Vector Quantization (VQ), Gaussian Mixture Model-Universal Background Model (GMM-UBM) and i-vector-based speaker verification systems in different unknown noisy environments with different SNRs, in comparison to their baselines. Meanwhile, the proposed NIFS-based speaker verification systems achieves similar performance when we change the constraints (hyper-parameters) or features, which indicates that it is robust and easy to reproduce. Since NIFS is designed as a general algorithm, it could be further applied to other similar tasks.

##### Abstract (translated by Google)
扬声器相关系统的性能通常在实际应用中严重降低，主要是由于存在背景噪声。为了提高这些系统在未知噪声环境下的鲁棒性，本文提出了一种简单的预处理方法，称为噪声不变帧选择（NIFS）。基于几种噪声约束，它从话语中选择噪声不变帧来表示说话人。在TIMIT数据库上进行的实验表明，在不同的未知嘈杂环境下，NIFS可以显着提高矢量量化（VQ），高斯混合模型 - 通用背景模型（GMM-UBM）和基于矢量的说话人验证系统的性能信噪比与其基线相比。同时，当我们改变约束（超参数）或特征时，所提出的基于NIFS的说话者验证系统实现了类似的性能，这表明其是强健的并且容易再现。由于NIFS被设计为通用算法，因此可以将其进一步应用于其他类似的任务。

##### URL
[http://arxiv.org/abs/1805.01259](http://arxiv.org/abs/1805.01259)

##### PDF
[http://arxiv.org/pdf/1805.01259](http://arxiv.org/pdf/1805.01259)

