---
layout: post
title: "Dual-label Deep LSTM Dereverberation For Speaker Verification"
date: 2018-09-08 04:55:24
categories: arXiv_SD
tags: arXiv_SD RNN
author: Hao Zhang, Stephen Zahorian, Xiao Chen, Peter Guzewich, Xiaoyu Liu
mathjax: true
---

* content
{:toc}

##### Abstract
In this paper, we present a reverberation removal approach for speaker verification, utilizing dual-label deep neural networks (DNNs). The networks perform feature mapping between the spectral features of reverberant and clean speech. Long short term memory recurrent neural networks (LSTMs) are trained to map corrupted Mel filterbank (MFB) features to two sets of labels: i) the clean MFB features, and ii) either estimated pitch tracks or the fast Fourier transform (FFT) spectrogram of clean speech. The performance of reverberation removal is evaluated by equal error rates (EERs) of speaker verification experiments.

##### Abstract (translated by Google)
在本文中，我们提出了一种利用双标签深度神经网络（DNN）进行说话人验证的混响消除方法。网络在混响和干净语音的频谱特征之间执行特征映射。训练长短期记忆递归神经网络（LSTM）以将损坏的Mel滤波器组（MFB）特征映射到两组标签：i）清洁的MFB特征，以及ii）估计的音调轨道或快速傅立叶变换（FFT）频谱图干净的演讲。通过说话者验证实验的相等错误率（EER）来评估混响消除的性能。

##### URL
[http://arxiv.org/abs/1809.03868](http://arxiv.org/abs/1809.03868)

##### PDF
[http://arxiv.org/pdf/1809.03868](http://arxiv.org/pdf/1809.03868)

