---
layout: post
title: "Paragraph-based complex networks: application to document classification and authenticity verification"
date: 2018-06-22 01:58:44
categories: arXiv_CL
tags: arXiv_CL GAN Text_Classification Classification
author: Henrique F. de Arruda, Vanessa Q. Marinho, Luciano da F. Costa, Diego R. Amancio
mathjax: true
---

* content
{:toc}

##### Abstract
With the increasing number of texts made available on the Internet, many applications have relied on text mining tools to tackle a diversity of problems. A relevant model to represent texts is the so-called word adjacency (co-occurrence) representation, which is known to capture mainly syntactical features of texts.In this study, we introduce a novel network representation that considers the semantic similarity between paragraphs. Two main properties of paragraph networks are considered: (i) their ability to incorporate characteristics that can discriminate real from artificial, shuffled manuscripts and (ii) their ability to capture syntactical and semantic textual features. Our results revealed that real texts are organized into communities, which turned out to be an important feature for discriminating them from artificial texts. Interestingly, we have also found that, differently from traditional co-occurrence networks, the adopted representation is able to capture semantic features. Additionally, the proposed framework was employed to analyze the Voynich manuscript, which was found to be compatible with texts written in natural languages. Taken together, our findings suggest that the proposed methodology can be combined with traditional network models to improve text classification tasks.

##### Abstract (translated by Google)
随着因特网上提供的文本数量不断增加，许多应用程序都依靠文本挖掘工具来解决各种问题。表示文本的相关模型是所谓的词邻接（co-occurrence）表示，它主要捕获文本的语法特征。在本研究中，我们引入了一种考虑段落间语义相似性的新型网络表示。考虑了段落网络的两个主要特性：（i）它们能够结合可以区分真实与人造，混洗手稿的特征和（ii）捕捉句法和语义文本特征的能力。我们的研究结果显示，真实文本被组织到社区中，结果证明这是将它们与人造文本区分开来的重要特征。有趣的是，我们还发现，与传统的共现网络不同，所采用的表示能够捕获语义特征。此外，提出的框架被用来分析Voynich手稿，该手稿被发现与用自然语言编写的文本兼容。综合起来，我们的研究结果表明，所提出的方法可以与传统的网络模型相结合，以改善文本分类任务。

##### URL
[http://arxiv.org/abs/1806.08467](http://arxiv.org/abs/1806.08467)

##### PDF
[http://arxiv.org/pdf/1806.08467](http://arxiv.org/pdf/1806.08467)

