---
layout: post
title: "VAE-based Domain Adaptation for Speaker Verification"
date: 2019-08-27 09:09:48
categories: arXiv_SD
tags: arXiv_SD Embedding
author: Xueyi Wang, Lantian Li, Dong Wang
mathjax: true
---

* content
{:toc}

##### Abstract
Deep speaker embedding has achieved satisfactory performance in speaker verification. By enforcing the neural model to discriminate the speakers in the training set, deep speaker embedding (called `x-vectors`) can be derived from the hidden layers. Despite its good performance, the present embedding model is highly domain sensitive, which means that it often works well in domains whose acoustic condition matches that of the training data (in-domain), but degrades in mismatched domains (out-of-domain). In this paper, we present a domain adaptation approach based on Variational Auto-Encoder (VAE). This model transforms x-vectors to a regularized latent space; within this latent space, a small amount of data from the target domain is sufficient to accomplish the adaptation. Our experiments demonstrated that by this VAE-adaptation approach, speaker embeddings can be easily transformed to the target domain, leading to noticeable performance improvement.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1908.10092](http://arxiv.org/abs/1908.10092)

##### PDF
[http://arxiv.org/pdf/1908.10092](http://arxiv.org/pdf/1908.10092)

