---
layout: post
title: "A Light weight and Hybrid Deep Learning Model based Online Signature Verification"
date: 2019-07-09 09:55:38
categories: arXiv_CV
tags: arXiv_CV RNN Deep_Learning
author: Chandra Sekhar V., Anoushka Doctor, Prerana Mukherjee, Viswanath Pulabaigiri
mathjax: true
---

* content
{:toc}

##### Abstract
The augmented usage of deep learning-based models for various AI related problems are as a result of modern architectures of deeper length and the availability of voluminous interpreted datasets. The models based on these architectures require huge training and storage cost, which makes them inefficient to use in critical applications like online signature verification (OSV) and to deploy in resource constraint devices. As a solution, in this work, our contribution is two-fold. 1) An efficient dimensionality reduction technique, to reduce the number of features to be considered and 2) a state-of-the-art model CNN-LSTM based hybrid architecture for online signature verification. Thorough experiments on the publicly available datasets MCYT, SUSIG, SVC confirms that the proposed model achieves better accuracy even with as low as one training sample. The proposed models yield state-of-the-art performance in various categories of all the three datasets.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1907.04061](http://arxiv.org/abs/1907.04061)

##### PDF
[http://arxiv.org/pdf/1907.04061](http://arxiv.org/pdf/1907.04061)

