---
layout: post
title: "A Study on Angular Based Embedding Learning for Text-independent Speaker Verification"
date: 2019-08-12 04:02:41
categories: arXiv_SD
tags: arXiv_SD Regularization Embedding Detection Recognition
author: Zhiyong Chen, Zongze Ren, Shugong Xu
mathjax: true
---

* content
{:toc}

##### Abstract
Learning a good speaker embedding is important for many automatic speaker recognition tasks, including verification, identification and diarization. The embeddings learned by softmax are not discriminative enough for open-set verification tasks. Angular based embedding learning target can achieve such discriminativeness by optimizing angular distance and adding margin penalty. We apply several different popular angular margin embedding learning strategies in this work and explicitly compare their performance on Voxceleb speaker recognition dataset. Observing the fact that encouraging inter-class separability is important when applying angular based embedding learning, we propose an exclusive inter-class regularization as a complement for angular based loss. We verify the effectiveness of these methods for learning a discriminative embedding space on ASV task with several experiments. These methods together, we manage to achieve an impressive result with 16.5% improvement on equal error rate (EER) and 18.2% improvement on minimum detection cost function comparing with baseline softmax systems.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1908.03990](http://arxiv.org/abs/1908.03990)

##### PDF
[http://arxiv.org/pdf/1908.03990](http://arxiv.org/pdf/1908.03990)

