---
layout: post
title: "Active Transfer Learning for Persian Offline Signature Verification"
date: 2019-02-28 13:49:46
categories: arXiv_CV
tags: arXiv_CV Transfer_Learning Recognition
author: Taraneh Younesian, Saeed Masoudnia, Reshad Hosseini, Babak N. Araabi
mathjax: true
---

* content
{:toc}

##### Abstract
Offline Signature Verification (OSV) remains a challenging pattern recognition task, especially in the presence of skilled forgeries that are not available during the training. This challenge is aggravated when there are small labeled training data available but with large intra-personal variations. In this study, we address this issue by employing an active learning approach, which selects the most informative instances to label and therefore reduces the human labeling effort significantly. Our proposed OSV includes three steps: feature learning, active learning, and final verification. We benefit from transfer learning using a pre-trained CNN for feature learning. We also propose SVM-based active learning for each user to separate his genuine signatures from the random forgeries. We finally used the SVMs to verify the authenticity of the questioned signature. We examined our proposed active transfer learning method on UTSig: A Persian offline signature dataset. We achieved near 13% improvement compared to the random selection of instances. Our results also showed 1% improvement over the state-of-the-art method in which a fully supervised setting with five more labeled instances per user was used.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1903.06255](http://arxiv.org/abs/1903.06255)

##### PDF
[http://arxiv.org/pdf/1903.06255](http://arxiv.org/pdf/1903.06255)

