---
layout: post
title: "OSVNet: Convolutional Siamese Network for Writer Independent Online Signature Verification"
date: 2019-03-30 16:07:59
categories: arXiv_CV
tags: arXiv_CV CNN Represenation_Learning Classification
author: Chandra Sekhar, Prerana Mukherjee, Devanur S Guru, Viswanath Pulabaigari
mathjax: true
---

* content
{:toc}

##### Abstract
Online signature verification (OSV) is one of the most challenging tasks in writer identification and digital forensics. Owing to the large intra-individual variability, there is a critical requirement to accurately learn the intra-personal variations of the signature to achieve higher classification accuracy. To achieve this, in this paper, we propose an OSV framework based on deep convolutional Siamese network (DCSN). DCSN automatically extracts robust feature descriptions based on metric-based loss function which decreases intra-writer variability (Genuine-Genuine) and increases inter-individual variability (Genuine-Forgery) and directs the DCSN for effective discriminative representation learning for online signatures and extend it for one shot learning framework. Comprehensive experimentation conducted on three widely accepted benchmark datasets MCYT-100 (DB1), MCYT-330 (DB2) and SVC-2004-Task2 demonstrate the capability of our framework to distinguish the genuine and forgery samples. Experimental results confirm the efficiency of deep convolutional Siamese network based OSV by achieving a lower error rate as compared to many recent and state-of-the art OSV techniques.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1904.00240](http://arxiv.org/abs/1904.00240)

##### PDF
[http://arxiv.org/pdf/1904.00240](http://arxiv.org/pdf/1904.00240)

