---
layout: post
title: "Multi-Task Learning with High-Order Statistics for X-vector based Text-Independent Speaker Verification"
date: 2019-04-04 15:37:04
categories: arXiv_SD
tags: arXiv_SD Embedding
author: Lanhua You, Wu Guo, Lirong Dai, Jun Du
mathjax: true
---

* content
{:toc}

##### Abstract
The x-vector based deep neural network (DNN) embedding systems have demonstrated effectiveness for text-independent speaker verification. This paper presents a multi-task learning architecture for training the speaker embedding DNN with the primary task of classifying the target speakers, and the auxiliary task of reconstructing the first- and higher-order statistics of the original input utterance. The proposed training strategy aggregates both the supervised and unsupervised learning into one framework to make the speaker embeddings more discriminative and robust. Experiments are carried out using the NIST SRE16 evaluation dataset and the VOiCES dataset. The results demonstrate that our proposed method outperforms the original x-vector approach with very low additional complexity added.

##### Abstract (translated by Google)


##### URL
[https://arxiv.org/abs/1903.12058](https://arxiv.org/abs/1903.12058)

##### PDF
[https://arxiv.org/pdf/1903.12058](https://arxiv.org/pdf/1903.12058)

