---
layout: post
title: "Adversarial attacks against Fact Extraction and VERification"
date: 2019-03-13 15:29:22
categories: arXiv_AI
tags: arXiv_AI Adversarial Inference Classification
author: James Thorne, Andreas Vlachos
mathjax: true
---

* content
{:toc}

##### Abstract
This paper describes a baseline for the second iteration of the Fact Extraction and VERification shared task (FEVER2.0) which explores the resilience of systems through adversarial evaluation. We present a collection of simple adversarial attacks against systems that participated in the first FEVER shared task. FEVER modeled the assessment of truthfulness of written claims as a joint information retrieval and natural language inference task using evidence from Wikipedia. A large number of participants made use of deep neural networks in their submissions to the shared task. The extent as to whether such models understand language has been the subject of a number of recent investigations and discussion in literature. In this paper, we present a simple method of generating entailment-preserving and entailment-altering perturbations of instances by common patterns within the training data. We find that a number of systems are greatly affected with absolute losses in classification accuracy of up to $29\%$ on the newly perturbed instances. Using these newly generated instances, we construct a sample submission for the FEVER2.0 shared task. Addressing these types of attacks will aid in building more robust fact-checking models, as well as suggest directions to expand the datasets.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1903.05543](http://arxiv.org/abs/1903.05543)

##### PDF
[http://arxiv.org/pdf/1903.05543](http://arxiv.org/pdf/1903.05543)

