---
layout: post
title: "GEAR: Graph-based Evidence Aggregating and Reasoning for Fact Verification"
date: 2019-07-22 08:25:16
categories: arXiv_CL
tags: arXiv_CL Relation
author: Jie Zhou, Xu Han, Cheng Yang, Zhiyuan Liu, Lifeng Wang, Changcheng Li, Maosong Sun
mathjax: true
---

* content
{:toc}

##### Abstract
Fact verification (FV) is a challenging task which requires to retrieve relevant evidence from plain text and use the evidence to verify given claims. Many claims require to simultaneously integrate and reason over several pieces of evidence for verification. However, previous work employs simple models to extract information from evidence without letting evidence communicate with each other, e.g., merely concatenate the evidence for processing. Therefore, these methods are unable to grasp sufficient relational and logical information among the evidence. To alleviate this issue, we propose a graph-based evidence aggregating and reasoning (GEAR) framework which enables information to transfer on a fully-connected evidence graph and then utilizes different aggregators to collect multi-evidence information. We further employ BERT, an effective pre-trained language representation model, to improve the performance. Experimental results on a large-scale benchmark dataset FEVER have demonstrated that GEAR could leverage multi-evidence information for FV and thus achieves the promising result with a test FEVER score of 67.10%. Our code is available at this https URL.

##### Abstract (translated by Google)


##### URL
[https://arxiv.org/abs/1908.01843](https://arxiv.org/abs/1908.01843)

##### PDF
[https://arxiv.org/pdf/1908.01843](https://arxiv.org/pdf/1908.01843)

