---
layout: post
title: "Improved Dynamic Time Warping Approach for Online Signature Verification"
date: 2019-03-26 10:05:22
categories: arXiv_CV
tags: arXiv_CV
author: Azhar Ahmad Jaini, Ghazali Sulong, Amjad Rehman
mathjax: true
---

* content
{:toc}

##### Abstract
Online signature verification is the process of verifying time series signature data which is generally obtained from the tablet-based device. Unlike offline signature images, the online signature image data consists of points that are arranged in a sequence of time. The aim of this research is to develop an improved approach to map the strokes in both test and reference signatures. Current methods make use of the Dynamic Time Warping (DTW) algorithm and its variant to segment them before comparing each of its data dimension. This paper presents a modified DTW algorithm with the proposed Lost Box Recovery Algorithm aims to improve the mapping performance for online signature verification

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1904.00786](http://arxiv.org/abs/1904.00786)

##### PDF
[http://arxiv.org/pdf/1904.00786](http://arxiv.org/pdf/1904.00786)

