---
layout: post
title: "Deep Speaker Embedding Learning with Multi-Level Pooling for Text-Independent Speaker Verification"
date: 2019-02-21 00:36:24
categories: arXiv_CL
tags: arXiv_CL Regularization Embedding RNN
author: Yun Tang, Guohong Ding, Jing Huang, Xiaodong He, Bowen Zhou
mathjax: true
---

* content
{:toc}

##### Abstract
This paper aims to improve the widely used deep speaker embedding x-vector model. We propose the following improvements: (1) a hybrid neural network structure using both time delay neural network (TDNN) and long short-term memory neural networks (LSTM) to generate complementary speaker information at different levels; (2) a multi-level pooling strategy to collect speaker information from both TDNN and LSTM layers; (3) a regularization scheme on the speaker embedding extraction layer to make the extracted embeddings suitable for the following fusion step. The synergy of these improvements are shown on the NIST SRE 2016 eval test (with a 19% EER reduction) and SRE 2018 dev test (with a 9% EER reduction), as well as more than 10% DCF scores reduction on these two test sets over the x-vector baseline.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1902.07821](http://arxiv.org/abs/1902.07821)

##### PDF
[http://arxiv.org/pdf/1902.07821](http://arxiv.org/pdf/1902.07821)

