---
layout: post
title: "Boundary Effect-Aware Visual Tracking for UAV with Online Enhanced Background Learning and Multi-Frame Consensus Verification"
date: 2019-08-10 07:15:39
categories: arXiv_CV
tags: arXiv_CV Tracking CNN Object_Tracking Relation
author: Changhong Fu, Ziyuan Huang, Yiming Li, Ran Duan, Peng Lu
mathjax: true
---

* content
{:toc}

##### Abstract
Due to implicitly introduced periodic shifting of limited searching area, visual object tracking using correlation filters often has to confront undesired boundary effect. As boundary effect severely degrade the quality of object model, it has made it a challenging task for unmanned aerial vehicles (UAV) to perform robust and accurate object following. Traditional hand-crafted features are also not precise and robust enough to describe the object in the viewing point of UAV. In this work, a novel tracker with online enhanced background learning is specifically proposed to tackle boundary effects. Real background samples are densely extracted to learn as well as update correlation filters. Spatial penalization is introduced to offset the noise introduced by exceedingly more background information so that a more accurate appearance model can be established. Meanwhile, convolutional features are extracted to provide a more comprehensive representation of the object. In order to mitigate changes of objects' appearances, multi-frame technique is applied to learn an ideal response map and verify the generated one in each frame. Exhaustive experiments were conducted on 100 challenging UAV image sequences and the proposed tracker has achieved state-of-the-art performance.

##### Abstract (translated by Google)


##### URL
[https://arxiv.org/abs/1908.03701](https://arxiv.org/abs/1908.03701)

##### PDF
[https://arxiv.org/pdf/1908.03701](https://arxiv.org/pdf/1908.03701)

