---
layout: post
title: "Contrastive Predictive Coding Based Feature for Automatic Speaker Verification"
date: 2019-04-01 23:54:08
categories: arXiv_CL
tags: arXiv_CL Knowledge Represenation_Learning
author: Cheng-I Lai
mathjax: true
---

* content
{:toc}

##### Abstract
This thesis describes our ongoing work on Contrastive Predictive Coding (CPC) features for speaker verification. CPC is a recently proposed representation learning framework based on predictive coding and noise contrastive estimation. We focus on incorporating CPC features into the standard automatic speaker verification systems, and we present our methods, experiments, and analysis. This thesis also details necessary background knowledge in past and recent work on automatic speaker verification systems, conventional speech features, and the motivation and techniques behind CPC.

##### Abstract (translated by Google)


##### URL
[https://arxiv.org/abs/1904.01575](https://arxiv.org/abs/1904.01575)

##### PDF
[https://arxiv.org/pdf/1904.01575](https://arxiv.org/pdf/1904.01575)

