---
layout: post
title: "Triplet Based Embedding Distance and Similarity Learning for Text-independent Speaker Verification"
date: 2019-08-06 04:23:27
categories: arXiv_CL
tags: arXiv_CL Embedding Recognition
author: Zongze Ren, Zhiyong Chen, Shugong Xu
mathjax: true
---

* content
{:toc}

##### Abstract
Speaker embeddings become growing popular in the text-independent speaker verification task. In this paper, we propose two improvements during the training stage. The improvements are both based on triplet cause the training stage and the evaluation stage of the baseline x-vector system focus on different aims. Firstly, we introduce triplet loss for optimizing the Euclidean distances between embeddings while minimizing the multi-class cross entropy loss. Secondly, we design an embedding similarity measurement network for controlling the similarity between the two selected embeddings. We further jointly train the two new methods with the original network and achieve state-of-the-art. The multi-task training synergies are shown with a 9% reduction equal error rate (EER) and detected cost function (DCF) on the 2016 NIST Speaker Recognition Evaluation (SRE) Test Set.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1908.02283](http://arxiv.org/abs/1908.02283)

##### PDF
[http://arxiv.org/pdf/1908.02283](http://arxiv.org/pdf/1908.02283)

