---
layout: post
title: "Characterizing and evaluating adversarial examples for Offline Handwritten Signature Verification"
date: 2019-01-10 21:14:11
categories: arXiv_CV
tags: arXiv_CV Adversarial Knowledge Recognition
author: Luiz G. Hafemann, Robert Sabourin, Luiz S. Oliveira
mathjax: true
---

* content
{:toc}

##### Abstract
The phenomenon of Adversarial Examples is attracting increasing interest from the Machine Learning community, due to its significant impact to the security of Machine Learning systems. Adversarial examples are similar (from a perceptual notion of similarity) to samples from the data distribution, that "fool" a machine learning classifier. For computer vision applications, these are images with carefully crafted but almost imperceptible changes, that are misclassified. In this work, we characterize this phenomenon under an existing taxonomy of threats to biometric systems, in particular identifying new attacks for Offline Handwritten Signature Verification systems. We conducted an extensive set of experiments on four widely used datasets: MCYT-75, CEDAR, GPDS-160 and the Brazilian PUC-PR, considering both a CNN-based system and a system using a handcrafted feature extractor (CLBP). We found that attacks that aim to get a genuine signature rejected are easy to generate, even in a limited knowledge scenario, where the attacker does not have access to the trained classifier nor the signatures used for training. Attacks that get a forgery to be accepted are harder to produce, and often require a higher level of noise - in most cases, no longer "imperceptible" as previous findings in object recognition. We also evaluated the impact of two countermeasures on the success rate of the attacks and the amount of noise required for generating successful attacks.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1901.03398](http://arxiv.org/abs/1901.03398)

##### PDF
[http://arxiv.org/pdf/1901.03398](http://arxiv.org/pdf/1901.03398)

