---
layout: post
title: "A Computational Framework for Adaptive Systems and its Verification"
date: 2019-06-26 00:31:46
categories: arXiv_CL
tags: arXiv_CL Face
author: Yehia Abd Alrahman, Giuseppe Perelli, Nir Piterman
mathjax: true
---

* content
{:toc}

##### Abstract
Modern computer systems are inherently distributed and feature autonomous and collaborative behaviour of multicomponent with global goals. These goals are expressed in terms of the combined behaviour of different components that are usually deployed in dynamic and evolving environments. It is therefore crucial to provide techniques to generate programs for collaborative and adaptive components, with guarantees of maintaining their designated global goals. To reach this endeavour, we need to extend modelling formalisms and specification languages to account for the specific features of these systems and to permit specifying both individual and system behaviour. We propose a computational framework to allow multiple components to interact in different modes, exchange information, adapt their behaviour, and reconfigure their communication interfaces. The framework permits a local interaction based on shared variables and a global one based on message passing. To be able to reason about local and global behaviour, we extend LTL to consider the exchanged messages and their constraints. Finally, we study the computational complexity of satisfiability and verification considering these extensions.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1906.10793](http://arxiv.org/abs/1906.10793)

##### PDF
[http://arxiv.org/pdf/1906.10793](http://arxiv.org/pdf/1906.10793)

