---
layout: post
title: "Graph-Based Offline Signature Verification"
date: 2019-06-25 09:15:35
categories: arXiv_CV
tags: arXiv_CV
author: Paul Maergner, Nicholas R. Howe, Kaspar Riesen, Rolf Ingold, Andreas Fischer
mathjax: true
---

* content
{:toc}

##### Abstract
Graphs provide a powerful representation formalism that offers great promise to benefit tasks like handwritten signature verification. While most state-of-the-art approaches to signature verification rely on fixed-size representations, graphs are flexible in size and allow modeling local features as well as the global structure of the handwriting. In this article, we present two recent graph-based approaches to offline signature verification: keypoint graphs with approximated graph edit distance and inkball models. We provide a comprehensive description of the methods, propose improvements both in terms of computational time and accuracy, and report experimental results for four benchmark datasets. The proposed methods achieve top results for several benchmarks, highlighting the potential of graph-based signature verification.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1906.10401](http://arxiv.org/abs/1906.10401)

##### PDF
[http://arxiv.org/pdf/1906.10401](http://arxiv.org/pdf/1906.10401)

