---
layout: post
title: "UKP-Athene: Multi-Sentence Textual Entailment for Claim Verification"
date: 2019-05-08 15:35:47
categories: arXiv_AI
tags: arXiv_AI GAN RNN Classification
author: Andreas Hanselowski, Hao Zhang, Zile Li, Daniil Sorokin, Benjamin Schiller, Claudia Schulz, Iryna Gurevych
mathjax: true
---

* content
{:toc}

##### Abstract
The Fact Extraction and VERification (FEVER) shared task was launched to support the development of systems able to verify claims by extracting supporting or refuting facts from raw text. The shared task organizers provide a large-scale dataset for the consecutive steps involved in claim verification, in particular, document retrieval, fact extraction, and claim classification. In this paper, we present our claim verification pipeline approach, which, according to the preliminary results, scored third in the shared task, out of 23 competing systems. For the document retrieval, we implemented a new entity linking approach. In order to be able to rank candidate facts and classify a claim on the basis of several selected facts, we introduce two extensions to the Enhanced LSTM (ESIM).

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1809.01479](http://arxiv.org/abs/1809.01479)

##### PDF
[http://arxiv.org/pdf/1809.01479](http://arxiv.org/pdf/1809.01479)

