---
layout: post
title: "Large Margin Softmax Loss for Speaker Verification"
date: 2019-04-06 15:53:43
categories: arXiv_SD
tags: arXiv_SD Embedding
author: Yi Liu, Liang He, Jia Liu
mathjax: true
---

* content
{:toc}

##### Abstract
In neural network based speaker verification, speaker embedding is expected to be discriminative between speakers while the intra-speaker distance should remain small. A variety of loss functions have been proposed to achieve this goal. In this paper, we investigate the large margin softmax loss with different configurations in speaker verification. Ring loss and minimum hyperspherical energy criterion are introduced to further improve the performance. Results on VoxCeleb show that our best system outperforms the baseline approach by 15\% in EER, and by 13\%, 33\% in minDCF08 and minDCF10, respectively.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1904.03479](http://arxiv.org/abs/1904.03479)

##### PDF
[http://arxiv.org/pdf/1904.03479](http://arxiv.org/pdf/1904.03479)

