---
layout: post
title: "Target Speaker Extraction for Overlapped Multi-Talker Speaker Verification"
date: 2019-02-07 09:55:50
categories: arXiv_SD
tags: arXiv_SD
author: Wei Rao, Chenglin Xu, Eng Siong Chng, Haizhou Li
mathjax: true
---

* content
{:toc}

##### Abstract
The performance of speaker verification degrades significantly when the test speech is corrupted by interference speakers. Speaker diarization does well to separate speakers if the speakers are temporally overlapped. However, if multi-talkers speak at the same time, we need the technique to separate the speech in the spectral domain. This paper proposes an overlapped multi-talker speaker verification framework by using target speaker extraction methods. Specifically, given the target speaker information, the target speaker's speech is firstly extracted from the overlapped multi-talker speech by a target speaker extraction module. Then, the extracted speech is passed to the speaker verification system. Experimental results show that the proposed approach significantly improves the performance of overlapped multi-talker speaker verification and achieves 65.7% relative EER reduction.

##### Abstract (translated by Google)


##### URL
[http://arxiv.org/abs/1902.02546](http://arxiv.org/abs/1902.02546)

##### PDF
[http://arxiv.org/pdf/1902.02546](http://arxiv.org/pdf/1902.02546)

