---
layout: post
title: "Study on Sparse Representation based Classification for Biometric Verification"
date: 2015-02-27 11:50:33
categories: arXiv_CV
tags: arXiv_CV Sparse Face Classification
author: Zengxi Huang, Yiguang Liu, Xiaoming Wang, Jinrong Hu
mathjax: true
---

* content
{:toc}

##### Abstract
In this paper, we propose a multimodal verification system integrating face and ear based on sparse representation based classification (SRC). The face and ear query samples are first encoded separately to derive sparsity-based match scores, and which are then combined with sum-rule fusion for verification. Apart from validating the encouraging performance of SRC-based multimodal verification, this paper also dedicates to provide a clear understanding about the characteristics of SRC-based biometric verification. To this end, two sparsity-based metrics, i.e. spare coding error (SCE) and sparse contribution rate (SCR), are involved, together with face and ear unimodal SRC-based verification. As for the issue that SRC-based biometric verification may suffer from heavy computational burden and verification accuracy degradation with increase of enrolled subjects, we argue that it could be properly resolved by exploiting small random dictionary for sparsity-based score computation, which consists of training samples from a limited number of randomly selected subjects. Experimental results demonstrate the superiority of SRC-based multimodal verification compared to the state-of-the-art multimodal methods like likelihood ratio (LLR), support vector machine (SVM), and the sum-rule fusion methods using cosine similarity, meanwhile the idea of using small random dictionary is feasible in both effectiveness and efficiency.

##### Abstract (translated by Google)
在本文中，我们提出了一种基于稀疏表示分类（SRC）的多模式验证系统。首先对脸部和耳朵查询样本进行单独编码，以得出基于稀疏度的匹配分数，然后将其与总和规则融合相结合以进行验证。除了验证基于SRC的多模式验证的令人鼓舞的性能之外，本文还致力于清楚地了解基于SRC的生物验证的特性。为此，涉及两个基于稀疏的度量，即备用编码误差（SCE）和稀疏贡献率（SCR），以及面部和耳朵单模式SRC验证。针对基于SRC的生物特征识别可能伴随着计算量大，验证准确性随参与人数增加而退化的问题，我们认为可以通过利用小随机字典进行稀疏分数计算来正确解决，来自有限数量的随机选择的主题的样本。实验结果表明，与似然比（LLR），支持向量机（SVM）和使用余弦相似性的和规则融合方法等最先进的多模式方法相比，基于SRC的多模态验证具有优越性，使用小随机字典的思想在效率和效率上都是可行的。

##### URL
[https://arxiv.org/abs/1502.06073](https://arxiv.org/abs/1502.06073)

##### PDF
[https://arxiv.org/pdf/1502.06073](https://arxiv.org/pdf/1502.06073)

