---
layout: post
title: "Feature Representation for Online Signature Verification"
date: 2015-05-29 19:09:02
categories: arXiv_CV
tags: arXiv_CV Deep_Learning
author: Mohsen Fayyaz, Mohammad Hajizadeh_Saffar, Mohammad Sabokrou, Mahmood Fathy
mathjax: true
---

* content
{:toc}

##### Abstract
Biometrics systems have been used in a wide range of applications and have improved people authentication. Signature verification is one of the most common biometric methods with techniques that employ various specifications of a signature. Recently, deep learning has achieved great success in many fields, such as image, sounds and text processing. In this paper, deep learning method has been used for feature extraction and feature selection.

##### Abstract (translated by Google)
生物识别系统已被广泛的应用，并改善了人员认证。签名验证是采用不同规格签名的技术的最常见的生物特征识别方法之一。近年来，深度学习在图像，声音，文本处理等诸多领域取得了巨大的成功。本文采用深度学习的方法进行特征提取和特征选择。

##### URL
[https://arxiv.org/abs/1505.08153](https://arxiv.org/abs/1505.08153)

##### PDF
[https://arxiv.org/pdf/1505.08153](https://arxiv.org/pdf/1505.08153)

