---
layout: post
title: "Deep Speaker Vectors for Semi Text-independent Speaker Verification"
date: 2015-05-24 11:22:40
categories: arXiv_CL
tags: arXiv_CL Recognition
author: Lantian Li, Dong Wang, Zhiyong Zhang, Thomas Fang Zheng
mathjax: true
---

* content
{:toc}

##### Abstract
Recent research shows that deep neural networks (DNNs) can be used to extract deep speaker vectors (d-vectors) that preserve speaker characteristics and can be used in speaker verification. This new method has been tested on text-dependent speaker verification tasks, and improvement was reported when combined with the conventional i-vector method. This paper extends the d-vector approach to semi text-independent speaker verification tasks, i.e., the text of the speech is in a limited set of short phrases. We explore various settings of the DNN structure used for d-vector extraction, and present a phone-dependent training which employs the posterior features obtained from an ASR system. The experimental results show that it is possible to apply d-vectors on semi text-independent speaker recognition, and the phone-dependent training improves system performance.

##### Abstract (translated by Google)
最近的研究表明，深度神经网络（DNNs）可以用来提取深的说话人向量（d向量），保留说话人特征，并可用于说话人验证。这个新方法已经在文本相关的说话人验证任务上进行了测试，并且与传统的i-vector方法结合起来报告了改进。本文将d向量方法扩展到半独立于文本的说话者验证任务，即语音文本是在短语短语集中。我们探索用于d矢量提取的DNN结构的各种设置，并且展示使用从ASR系统获得的后验特征的基于电话的训练。实验结果表明可以将d向量应用于半文本无关的说话人识别，并且依赖于手机的训练提高了系统的性能。

##### URL
[https://arxiv.org/abs/1505.06427](https://arxiv.org/abs/1505.06427)

##### PDF
[https://arxiv.org/pdf/1505.06427](https://arxiv.org/pdf/1505.06427)

