---
layout: post
title: "A Large-Scale Car Dataset for Fine-Grained Categorization and Verification"
date: 2015-09-24 09:04:24
categories: arXiv_CV
tags: arXiv_CV Classification
author: Linjie Yang, Ping Luo, Chen Change Loy, Xiaoou Tang
mathjax: true
---

* content
{:toc}

##### Abstract
Updated on 24/09/2015: This update provides preliminary experiment results for fine-grained classification on the surveillance data of CompCars. The train/test splits are provided in the updated dataset. See details in Section 6.

##### Abstract (translated by Google)
更新日期：24/09/2015：本次更新提供了CompCars监测数据细粒度分类的初步实验结果。在更新的数据集中提供火车/测试分组。详见第6节。

##### URL
[https://arxiv.org/abs/1506.08959](https://arxiv.org/abs/1506.08959)

##### PDF
[https://arxiv.org/pdf/1506.08959](https://arxiv.org/pdf/1506.08959)

